body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #a80000;
}

img{
    width: 500px;
    height: 500px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p{
    color: white;
}
button{
    border: rgb(131, 1, 1);
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 2em;
    font-size: 1,5em;
    cursor: pointer;
}

input{
    border: rgb(131, 1, 1); 
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    color:#ffffff;
    margin-top: 2em;
    font-size: 1,5em;
    cursor: pointer; 
}